@model IEnumerable<PokemonJuego.Models.Store>

@{
    ViewBag.Title = "Index";
}
<h2>Casa Pokemon</h2>
<p>
    @Html.ActionLink("Comprar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon.vida)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pokemon.Name)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.Pokemon.Picture) width="200" height="300">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pokemon.vida)

            </td>

            <td>
                @Html.ActionLink("Elegir", "GetAtaques", "Estadio", new { nombre = @Html.DisplayFor(modelItem => item.Pokemon.Name), img = @Html.DisplayFor(modelItem => item.Pokemon.Picture), vida = @Html.DisplayFor(modelItem => item.Pokemon.vida),power = @Html.DisplayFor(modelItem => item.Pokemon.vida) ,xx=0,d=0}, null)
            </td>
        </tr>
    }
</table>
